<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
  <div class="pl-4 pr-0 h-100 tofront">
    <div class="row justify-content-between">
      <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
        <h1 class="mb-3">Lorem ipsum dolor sit amet.</h1>
        <p class="mb-3 lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut arcu suscipit, tempus ante sed, dignissim
          lorem.
          Curabitur at posuere.
        </p>
        <a href="{{site.baseurl}}/magazine" class="btn btn-dark">Magazine</a>
      </div>
      <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-position: center;background-image:url({{site.baseurl}}/assets/images/lighting-network-02.webp);">
      </div>
    </div>
  </div>
</div>