<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 mx-auto text-center align-self-center text-light">
                <p class="lead">Aug 15, 2021: 8am Pacific Time - 4pm Pacific Time</p>
                <h1 class="fw-bold mb-3">1ST OUTLIER DETECTION AND DESCRIPTION WORKSHOP</h1>
                <p class="lead">
                    Contact <a href="https://defianalytics.github.io/defraud.ai/contact.html">us</a> for Zoom
                  Information.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mailchemp">
                <h2>Subscribe</h2>
                <div class="img-block">
                    <img src="../assets/images/subscribe-image.png" alt="subscribe-image">
                </div>
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;}
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://themeplugs.us8.list-manage.com/subscribe/post?u=5f997dd4588d3683743ce3f48&amp;id=54783f1684" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                 
                    <div id="mc_embed_signup_scroll" class="sbs-form">
                        <div class="left">
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                        </div>
                        <div class="right">
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5f997dd4588d3683743ce3f48_54783f1684" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="text-muted text-justify">        
                    <p>The main goal of the ODD workshop is to bring together academics, industry and government researchers, and practitioners to discuss and reflect on outlier mining challenges. Outlier detection methods are often applied to numerous real-world applications like security, healthcare, finance. These tasks affect humans in some way, and hence, ensuring the fairness of such methods is paramount. Fairness relates to developing unbiased decision policies whose outcomes are not dependent on any sensitive features or variables such as gender and race. Transparency is another factor, linked to the fairness of methods, where the decision made by the designed methods should be understandable in order to ensure that the methods are not biased towards specific groups.</p>
                    
                    <p>We want to highlight issues related to fairness and transparency and aim to increase awareness of the following topics:</p>
                    
                    <ul>
                      <li>How can we measure the bias in the outlier detection methods?</li>
                      <li>How can we ensure that outlier identification does not produce unjust outcomes for protected minority groups (such as age/race/sex)?</li>
                      <li>How can we prevent a negative feedback loop, of unfair outlier detection based on historically biased data (such as over policing in minority neighborhoods)?</li>
                      <li>How can we make outlier detection methods transparent?</li>
                      <li>How can we employ deep learning models for detecting and ensuring fairness in outlier detection systems?</li>
                      <li>How can we ensure statistical parity in our analysis, such that the outlier detection outcomes are independent of class memberships?</li>
                      <li>How can we employ adversarial learning mechanisms for outlier detection to ensure fairness?</li>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-4">
              <a class="twitter-timeline" href="https://twitter.com/MylightningN?ref_src=twsrc%5Etfw">Tweets by MylightningN</a>
               <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>