<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 mx-auto text-center align-self-center text-light">
                <p class="lead">Aug 15, 2021: 8am Pacific Time - 4pm Pacific Time</p>
                <h1 class="fw-bold mb-3">1ST OUTLIER DETECTION AND DESCRIPTION WORKSHOP</h1>
                <p class="lead">
                    Contact <a href="https://defianalytics.github.io/defraud.ai/contact.html">us</a> for Zoom
                  Information.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-muted text-justify">        
                    <p>The main goal of the ODD workshop is to bring together academics, industry and government researchers, and practitioners to discuss and reflect on outlier mining challenges. Outlier detection methods are often applied to numerous real-world applications like security, healthcare, finance. These tasks affect humans in some way, and hence, ensuring the fairness of such methods is paramount. Fairness relates to developing unbiased decision policies whose outcomes are not dependent on any sensitive features or variables such as gender and race. Transparency is another factor, linked to the fairness of methods, where the decision made by the designed methods should be understandable in order to ensure that the methods are not biased towards specific groups.</p>
                    
                    <p>We want to highlight issues related to fairness and transparency and aim to increase awareness of the following topics:</p>
                    
                    <ul>
                      <li>How can we measure the bias in the outlier detection methods?</li>
                      <li>How can we ensure that outlier identification does not produce unjust outcomes for protected minority groups (such as age/race/sex)?</li>
                      <li>How can we prevent a negative feedback loop, of unfair outlier detection based on historically biased data (such as over policing in minority neighborhoods)?</li>
                      <li>How can we make outlier detection methods transparent?</li>
                      <li>How can we employ deep learning models for detecting and ensuring fairness in outlier detection systems?</li>
                      <li>How can we ensure statistical parity in our analysis, such that the outlier detection outcomes are independent of class memberships?</li>
                      <li>How can we employ adversarial learning mechanisms for outlier detection to ensure fairness?</li>
                    </ul>                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-end">
                    <a href="https://twitter.com/analytics_defi?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                    data-show-count="false"></a>
                </div>
                <a class="twitter-timeline" data-theme="light" href="https://twitter.com/analytics_defi?ref_src=twsrc%5Etfw"
                    data-chrome="nofooter noheader"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>