<div class="section bg-yello">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <h2>
                        Learn Bitcoin & Take the quiz to Earn Bitcoin.
                    </h2>
                    <p>
                        Over 21 days, this email course will teach you the fundamentals of Bitcoin. Did we mention you can also earn bitcoin for taking the quiz at the end?! 
                    </p>
                    <div class="mailchemp">
                        <!-- Begin Mailchimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
                            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                        <form action="https://themeplugs.us8.list-manage.com/subscribe/post?u=5f997dd4588d3683743ce3f48&amp;id=54783f1684" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5f997dd4588d3683743ce3f48_54783f1684" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                        <p class="brandingLogo"><a href="http://eepurl.com/h2aAl1" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                    </div>
                    <h3>
                        Complete the course. Earn 2,100 sats!
                    </h3>
                    <p>
                        What are sats? - Sats are the smallest unit of a bitcoin. A whole bitcoin is made up of 100,000,000 sats. Just like a dollar is made up of 100 pennies.
                    </p>
                    <p>
                       <strong> Earn Bitcoin  📬</strong>
                        At the end of all 21 days of the course, you will be sent the quiz. Once you submit, you will earn ⚡️2,100 sats.
                    </p>
                    <p>
                        <strong>Chance to win 1,000,000 sats!  🎟️</strong>
                        If you complete all 21 days of the course & answer at least 17 of 21 questions correctly on the quiz, you earn a chance to win ⚡️1,000,000 sats! 
                    </p>
                    <div class="line"></div>
                    <div class="smalltext">
                        <span>
                            NO PURCHASE NECESSARY TO ENTER OR WIN. <br>
                            Void where prohibited by law.<br>
                            Terms &amp; Conditions
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="content">
                    <img src="../assets/images/bitcoin.jpg" alt="bitcoin">
                    <img src="../assets/images/bitcoin.jpg" alt="bitcoin">
                    <img src="../assets/images/bitcoin.jpg" alt="bitcoin">
                    <img src="../assets/images/bitcoin.jpg" alt="bitcoin">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-dark text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="content">
                    <h2 class="large-title">
                        Frequently Asked Questions
                    </h2>
                    <div class="faq-item">
                        <h3>
                            What if the Carrot app is not available in my country?
                        </h3>
                        <p>
                            All bitcoin earned will be only be distributed through the Carrot app. However, Carrot may not be available in your country. Please feel free to stick around and enjoy the course anyways! There's plenty of great Bitcoin knowledge, and other non-bitcoin perks along the way.
                        </p>
                    </div>
                    <div class="faq-item">
                        <h3>
                            When do I take the quiz?
                        </h3>
                        <p>
                            The quiz will be sent to you at the very end of the 21 day course. It should arrive in your inbox shortly after your Day 21 email is sent.
                        </p>
                    </div>
                    <div class="faq-item">
                        <h3>
                            How will I get my free Bitcoin?
                        </h3>
                        <p>
                            After your Day 21 email, you must complete the quiz. Once you have submitted the quiz, your Carrot account will be automatically credited with your free Bitcoin.
                        </p>
                    </div>
                    <div class="faq-item">
                        <h3>
                            When will I know if I won the 1,000,000 sats prize?
                        </h3>
                        <p>
                            The 1,000,000 sats prize winner will be notified by email 30 days after the monthly contest closes.
                        </p>
                    </div>
                    <div class="gap"></div>
                    <div class="line line-dark"></div>
                    <div class="content">
                        <div class="gap"></div>
                        <h2 class="large-title">
                            Why Take This Course?
                        </h2>
                        <p>
                            Bitcoin is a revolutionary new technology that allows you to easily send money to anyone, anywhere in the world without an intermediary.  This course will help you understand exactly what it is, how it works, and why it’s improving lives everywhere.
                        </p>
                        <div class="gap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-item">
                    <img src="../assets/images/bitcoin1.jpg" alt="">
                    <h3>
                        New to Bitcoin?
                    </h3>
                    <p>
                        In 21 concise lectures, we'll cover the basics of bitcoin in an easy-to-follow manner.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-item">
                    <img src="../assets/images/bitcoin2.jpg" alt="">
                    <h3>
                        21 Different Topics
                    </h3>
                    <p>
                        From Bitcoin's mysterious origins & meteoric rise in value to it's elegant technical design.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-item">
                    <img src="../assets/images/bitcoin1.jpg" alt="">
                    <h3>
                        Earn Bitcoin!
                    </h3>
                    <p>
                        Complete all 21 days of the course and the quiz and you will earn some free bitcoin!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>