<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://defianalytics.github.io/defraudworkshop/">Magazine</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/podcasts.html">Podcasts</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/mail">Mail</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>