{% assign posts = site.posts | where_exp: "item", "item.categories contains 'Podcast'" %}
<div class="sticky-top sticky-top-offset">
  <h4 class="font-weight-bold spanborder"><span>Podcasts</span></h4>
  <ol class="list-featured">
    {% for post in posts limit:5 %}
    <li class="mb-4">
      <span>
        <h6 class="font-weight-bold">
          <p class="text-dark">{{ post.title }}</p>
        </h6>
        <audio controls preload="auto">
          <source src="{{site.baseurl}}/{{ post.audio }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </span>
    </li>
    {% endfor %}
  </ol>
  <p class="small text-center"><a href="{{site.baseurl}}/podcasts.html">Show all episodes...</a></p>
</div>